<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Automation Suite">
    <listeners>
        <listener class-name="utils.TestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Home Page Tests">
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>
<!--    <listeners>-->
<!--        <listener class-name="org.uncommons.reportng.HTMLReporter"/>-->
<!--        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>-->
<!--    </listeners>-->
</suite>